%head
  %meta{"http-equiv" => "Content-Type", content: "text/html, charset=utf-8"}
  %title Tongue-ya
  - %W(http://fonts.googleapis.com/css?family=Didact+Gothic stylesheets/default.css stylesheets/fonts.css).each do |uri|
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "#{uri}"}
